html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg);
    background-position: ;
    background-color: hsl(185, 75%, 39%);    
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    margin: 60px auto auto auto;
    background: white;
    text-align: center;
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    color: hsl(229, 23%, 23%);
    margin-top: 100px;
}

.card-top {
    width: 100%;
    border-radius: 15px 15px 0 0
}

.profile-picture{
    position: relative;
    background-image: url(bg-pattern-card.svg);
    border-radius: 15px 15px 0 0;
    height: 200px;
}

.profile-picture img {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid white;
}

.header {
    padding: 65px 65px 0 65px;
}

 h2, h4 {
    font-size: 20px;
}

.Age {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.line {
    color: hsl(0, 0%, 59%);
    margin: 0;
}

.stats {
    display: flex;
    margin-left: 30px;
}

.each-stat {
    word-spacing: 100px;
    padding: 0 30px 30px 30px;
}

p {
    margin-top: -20px;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
}

.london {
    margin: 10px 0 30px 0;
    color: hsl(0, 0%, 59%);
    font-weight: 400;
    font-size: 15px;
}